{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'coins/style.css' %}" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>{% block title %}Benjamin's Blog{% endblock title %}</title>
    {% tailwind_css %}
  </head>

  <body>
    <header>
      <div class="container container-fluid">
        <a class="logo" href="/">
          <i class="fa-solid fa-coins"></i>
        </a>
        <div class="links">
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/all_posts/">All Cryptocurrency</a>
        </div>
        <div class="action-btn">
          <a href="/accounts/logout/"
            ><button class="btn btn-scoundary">Logout</button></a
          >

          <i class="uil uil-align-center-alt menu" onclick="menu()"></i>
        </div>
      </div>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    <footer>
      <div class="container">
        <div class="grid-4">
          <div class="logo f-logo">
            <i class="fa-solid fa-coins"></i>
          </div>
          <div class="link">
            <h2>Quick link</h2>
            <div class="q-link">
              <a href="/">Home</a>
              <a href="/about/">About</a>
            </div>
          </div>
          <div class="link">
            <h2>Your Favourites</h2>
            <div class="q-link">
              <a href="/all_liked_posts/">Likes</a>
              <a href="/all_bookmarked_posts/">Bookmarks</a>
            </div>
          </div>
          <div class="news-signup">
            <h2>Subscribe</h2>
            <div class="newslatter">
              <form method="POST">
                <tr>
                  <th></th>
                  <td>
                    <input
                      type="email"
                      name="email"
                      maxlength="100"
                      placeholder="Enter your email"
                      required
                      id="id_email"
                    />
                  </td>
                </tr>
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="share">
          <div class="social">
            <a href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'coins/url.js' %}" id="url"></script>
  </body>
</html>